# This file is used for Streamlit applications; this project is managed by Poetry; see README for further guidance about using pip and generating a requirements.txt file (or just use Poetry!)
numpy
radcad==0.5.3
matplotlib
streamlit
pandas
